body{
  font-family: 'Open Sans', sans-serif;
}

.app-container {
    position: relative;
    margin: 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  border-radius: 1em;
  background: rgb(193, 220, 242);
}

.btn-container{
  display: flex;
  align-items: center;
  border-collapse: collapse;
  padding: 0.5em;
  background: rgb(193, 220, 242);
}

.friendlist-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7% 0 5% 0;
}

.friendlist {
  list-style: none;
}

.friend{
  position: relative;
  margin: 5% 0 5% 0;
}

.avatar, .photo {
  position: relative;
  display: flex;
  float: left;
}

.greeting{
  margin-top: 10%;
  position: relative;
  display: flex;
}

.greeting-text{
  margin: 0;
  padding: 10% 5% 6% 5%;
  text-align: center;
}

.defaultGr {
  font-size: 1.2em;
  font-weight: bold;
}

img {
  position: relative;
  border-radius: 50%;
}

a.button{
  position: relative;
  margin: auto;
  font-size: 120%;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: rgb(15, 103, 128);
}

.button:hover:not(:active) {
  background: rgb(5, 73, 92);
}
.button:active {
  background: rgb(5, 52, 65);
}

