body{
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  border-radius: 1em;
  background: rgb(193, 220, 242);
}

.btn-container, .friendlist-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  padding: 0.5em;
  background: rgb(193, 220, 242);
}

.friendlist {
  list-style: none;
}

.friend{
  position: relative;
  float: right;
}

img {
  position: relative;
  float: left;
  border-radius: 50%;
}

a.button{
  position: relative;
  margin: auto;
  font-size: 120%;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: rgb(15, 103, 128);
}

.button:hover:not(:active) {
  background: rgb(5, 73, 92);
}
.button:active {
  background: rgb(5, 52, 65);
}

li {
  font-size: 100%;
  font-weight: bold;
}
